<div class="container">

    <div class="topic" [ngClass]="{'ltr-topic':topic.isltr}">

        <div class="topic-header">
            <h1>
                {{topic.titlefa}}
            </h1>

            <button class="btn btn-primary align-middle" routerLink="/">
                <ng-container *ngIf="!topic.isltr">
                    <i class="material-icons align-middle">keyboard_backspace</i>
                    &nbsp;
                    <span>بازگشت به خانه</span>
                </ng-container>

                <ng-container *ngIf="topic.isltr">
                    <i class="material-icons align-middle">east</i>
                    &nbsp;
                    <span>Back To Home</span>
                </ng-container>

            </button>
        </div>

        <div class="topic-container">
            <div markdown [src]="getMDSrc(topic)" (error)="onMDError($event)"></div>
        </div>

    </div>

</div>