@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons");

html {
  height: 100%;
}

body {
  direction: rtl;
  text-align: right;
  font-family: "Vazir", sans-serif;
}

.container-bg {
  padding-top: 6rem;;
  background-color: #CFD8DC;
}

footer {
  background-color: #CFD8DC;
  padding: 1rem 1rem;
}